{% load static %}
<head>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
    }
    .card-registration .select-arrow {
      top: 13px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#8bb886;weight:100%;height:80px;">
    <a class="navbar-brand" href="/"style="color:#6e1f33;font-size:40px;">SportsEasy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"style="color:white;font-size:25px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Academy_login"style="color:white;font-size:25px;">Sign In</a>
        </li>
        
      </ul>
    </div>
  </nav>
<form action="Academy_reg"method="post"enctype="multipart/form-data">
    {% csrf_token %}
<section class="h-100"style="background-color:#425e3f;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="{% static 'assets/img/gallery/sport16.jpg' %}"style="height:700px;margin-top:20px;margin-left:20px;"class="img-fluid"style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase"style="color:#425e3f;font-size:30px;text-align:center;">ACADEMY REGISTRATION</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="anm" name="aname"class="form-control form-control-lg"required />
                      <span id="sanm"></span>
                      <label class="form-label" for="form3Example1m"style="color:#425e3f;">Academy Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="file"id="form3Example1n" name="aimg"  class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n"style="color:#425e3f;">Academy Image</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input type="url" name="loc"id="form3Example1m" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Example1m"style="color:#425e3f;">Academy Location</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input type="email"id="form3Example1n"name="aemail" class="form-control form-control-lg"required />
                        <label class="form-label" for="form3Example1n"style="color:#425e3f;">Academy Email</label>
                      </div>
                    </div>
                  </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <textarea name="aaddress" id="form3Example8" class="form-control form-control-lg"></textarea>
                  <label class="form-label" for="form3Example8"style="color:#425e3f;">Address</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <textarea name="dtl" id="form3Example8" class="form-control form-control-lg"></textarea>
                  <label class="form-label" for="form3Example8"style="color:#425e3f;">Details</label>
                </div>
                <div class="mb-4">
                  <label class="form-label" for="form3Example8"style="color:#425e3f;">Select a District</label>
                  <select  name="dist" class="form-control form-control-lg" data-mdb-select-init>
                    <option>Select a District</option>
                    <option value="kasargode">kasargode</option>
                    <option value="kannur">kannur</option>
                    <option value="kozhikode">kozhikode</option>
                    <option value="malappuram">malappuram</option>
                    <option value="palakkad">palakkad</option>
                    <option value="thrissur">thrissur</option>
                    <option value="ernamkulam">ernamkulam</option>
                    <option value="idukki">idukki</option>
                    <option value="wayanad">wayanad</option>
                    <option value="Alapuzha">Alapuzha</option>
                    <option value="kottayam">kottayam</option>
                    <option value="pathanamthitta">pathanamthitta</option>
                    <option value="kollam">kollam</option>
                    <option value="trivandram">trivandram</option>
                  </select>
                  
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="number" name="mobile"id="mobile" class="form-control form-control-lg" required/>
                      <span id="smobile">
                      <label class="form-label" for="form3Example1m"style="color:#425e3f;">Mobile Number</label>
                    </div>
                  </div>
                  
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="password"id="ps1"name="pass1"class="form-control form-control-lg" required/>
                      <span id="sps1"></span>
                      <label class="form-label" for="form3Example1n"style="color:#425e3f;">Password</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="password" id="ps2"name="pass2"class="form-control form-control-lg" required/>
                      <span id="sps2"></span>
                      <label class="form-label" for="form3Example1m"style="color:#425e3f;">Confirm Password</label>
                    </div>
                  </div>
                  
                </div>
              

                
                  
                </div>
                <div class="d-flex justify-content-end pt-3">
                 <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2"style="margin-right:200px;margin-bottom:100px;background-color:#425e3f;color:white;">REGISTER</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<script>
  $(function(){
    $('#sanm').hide();
    $('#smobile').hide();
    $('#sps1').hide();
    $('#sps2').hide();
    $('#anm').focusout(function(){error_name()});
    $('#mobile').focusout(function(){error_number()});
    $('#ps1').focusout(function(){error_pass()});
    $('#ps2').focusout(function(){error_cpass()});
    function error_name(){
      var anm = $('#anm').val();
      const regf = /^[A-Z a-z]+$/;
      if(!regf.test(anm)){
        $('#sanm').html('Only Alphabets allowed...');
        $('#sanm').show();
        $('#sanm').css('color','#9c2531');
        $('#anm').css('border-bottom-color','#9c2531');

      }
      else{
        $('#sanm').hide();
        $('#anm').css('border-bottom-color','#357343');

      }

    }
    function error_number(){
      var mobile = $('#mobile').val();
      const regn = /^[0-9]+$/;
      if(!regn.test(mobile)){
        $('#smobile').html('Only numbers allowed...');
        $('#smobile').show();
        $('#smobile').css('color','#9c2531');
        $('#mobile').css('border-bottom-color','#9c2531');

      }
      else if(mobile.length!=10){
        $('#smobile').html('Only 10 digit allowed...');
        $('#smobile').show();
        $('#smobile').css('color','#9c2531');
        $('#mobile').css('border-bottom-color','#9c2531');

      }
      else{
        $('#smobile').hide();
        $('#mobile').css('border-bottom-color','#357343');

      }
    }
    function error_pass(){
      var ps1 = $('#ps1').val();
      const regp = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/;
      if(!regp.test(ps1)){
        $('#sps1').html('Password must contain alphabets\n numbers\n symbols such as !@#$%^&*\n minimum of 6\n & maximum of 16 characters');
        $('#sps1').show();
        $('#sps1').css('color','#9c2531');
        $('#ps1').css('border-bottom-color','#9c2531');
      }
      else{
        $('#sps1').hide();
        $('#ps1').css('border-bottom-color','#357343');

      }
    }
    function error_cpass(){
      var ps1 = $('#ps1').val();
      var ps2 = $('#ps2').val();
      if(ps1!=ps2){
        $('#sps2').html('Password & Confirm password should be same..');
        $('#sps2').show();
        $('#sps2').css('color','#9c2531');
        $('#ps2').css('border-bottom-color','#9c2531');

      }
      else{
        $('#sps2').hide();
        $('#ps2').css('border-bottom-color','#357343');

      }

    }
   
   
  });
</script>
</body>
                   